<div class="flex flex-col md:w-11/12 m-auto lg:w-8/12">
<section class="border-b w-100 p-4 flex justify-center items-center">
    <h2 class="text-lg font-semibold text-gray-700">Ranking's</h2>
</section>
<div class="w-11/12 m-auto p-4 mt-2 flex
    justify-center">
    <%= render "partials/search" , action: "/rankings" %>

    </div>
    <% if @rankings.count == 0 then %>
    <div class="w-11/12 m-auto h-24 flex justify-center items-center">
    <p class="text-gray-400 h-100 w-100 ">No Result's</p>
</div>
<% end %>
<% @rankings.each do |ranking| %>
<a href="/profile/<%= ranking.user.id %>">
    <div class="flex items-center p-2 px-4 hover:bg-gray-50 cursor-pointer">
    <section class="">
        <img  class="w-10 h-10 rounded-full" src="<% if ranking.user.profileImage.persisted? %> <%= url_for(ranking.user.profileImage) %> <% end %>">
    </section>

    <section class="ml-4">
    <%= ranking.user.name %>
    </section>

    <section class="ml-auto">
    <% if ranking %>
    <%= ranking.rating %>
    <% else %>
        0
    <% end %>
    </section>
    </div>
    </a>
<% end %>


</div>