<%= turbo_frame_tag "#{dom_id(@idea)}" do %>

<div class="absolute top-0 left-0 fixed bg-white h-screen flex justify-center">
<div class="w-9/12 m-auto py-10">
<section>
    <%= link_to "back" , idea_url(@idea) %>
</section>
<h3 class="font-bold text-lg mb-4">
<%= @idea.name %>
</h3>

<p class="text-justify"><%= @idea.description %></p>

<section class="flex flex-col mt-4">
<% @idea.docs.each do |doc| %>
<p class="mb-2 underline">
    <%= link_to(doc.filename, rails_blob_path(doc, disposition: "attachment")) %>
</p>
</section>

<section class="mt-4 flex items-center">
<%= button_to "Approve" , idea_path(@idea.id) , method: :patch , class:"bg-gray-900 px-4 py-1 rounded-md text-gray-50 mr-4" %>

<%= button_to "Reject" , idea_path(@idea.id) , method: :delete , class:"bg-red-500 px-4 py-1 rounded-md text-gray-50" %>
</section>

</div>

</div>
<% end %>
<% end %>