
<div class="w-11/12 mx-auto  py-4 h-100 flex flex-col justify-center items-center">
<%= form_for(task,id: "#{dom_id(task)}_form") do |form| %>

  
<div class="flex flex-col">

    <div class="flex flex-col mb-2">
    
    <%= form.label :name %>
    <%= form.text_field :name , class:"w-100 rounded-md text-sm " %>
    
    </div>

    
    <div class="flex flex-col mb-2">

    <%= form.label :description %>
    <%= form.text_field :description , class:"w-100 rounded-md text-sm" %>
    
    </div>
    
    

    <div class="flex flex-col mb-2">

    <%= form.label  "Due" %>
    <%= form.text_field :time , class:"w-100 rounded-md text-sm" %>
     
    </div>

    
    <div class="flex flex-col mb-2">

    <p><%= form.label :reward %></p>
    <%= form.text_field :reward , class:"w-100 rounded-md text-sm" %>
    
    </div>

    
    <div class="flex flex-col mb-2" >

    <%= form.label :taskImage %>
    <%= form.file_field :taskImage , class:"w-100 rounded-md text-sm border border-gray-700 p-2" %>
     
    </div>

    
    
    <div class="flex flex-col mb-2" >

    <%= form.label :docs %>
    <%= form.file_field :docs , multiple:true , class:"w-100 rounded-md text-sm border border-gray-700 p-2 " %>

    </div>
    
    
    <div data-controller="taskform" class="flex flex-col mb-2">
    <button data-action="taskform#close_modal" class="bg-gray-900 font-bold text-blue-300 py-2 hover:bg-gray-700 cursor-pointer rounded-sm">
    <%= form.submit %>
    </button>

    </div >

</div>

    <% end %>
</div>