  <div class="mb-4 ">
    
    <div class="flex items-center mb-6">

    <%# task name %>

        <h1 class="text-2xl font-bold mr-4 text-gray-800 "><%= task.name %></h1>

    <%#  task participation %>
<% if !@user.isAdmin %>
    <%= form_with model: [ task, task.participants.build ] do |form| %>

         <% if !@participant %>
            <%= form.submit "participate" , class:"bg-blue-200 py-1 px-2 rounded-md drop shadow-md shadow-blue-200 cursor-pointer text-green-800 font-medium font text-md"%>
           
            <% else %>

            <button disabled=true class="bg-green-300 py-1 px-2 rounded-md drop shadow-md shadow-green-200 cursor-pointer text-green-800 font-medium text-md">participated</button>
            <% end %>

        <% end %>
        <% else %>
        <% if @user.isAdmin %>

    <a href="/admin/updateTask/<%= task.id %>">Edit</a>
<% else %>
    <a href="/tasks/<%= task.id %>/edit">Edit</a>

<% end %> 

     <% end %> 
    </div>

    <%# task description  %>

            <p class="font-lighter text-md md:text-lg break-all mt-2"><%= task.description %></p>
    </div>

    <%# task reward  %>

    <div class="mb-4">
        <h1 class="text-xl font-bold text-gray-800">Reward's</h1>
        <p class="font-lighter text-md md:text-lg break-all mt-2"><%= task.reward %></p>
    </div>

    <%# links and resource %>

    <div class="mb-4">
        <h1 class="text-xl font-bold text-gray-800">Link's and Resource's</h1>
        <div class="flex  flex-wrap py-2 ">
            <% @task.addresses.each do |address| %>
            <a href="<%= address.link %>" class="text-md md:text-lg  mr-2  break-all mt-2 underline"><%= address.title.titleize %></a>
           
            <% end %>
        
     </div>

    
     <%#  task docs %>
    <div class="mb-4 flex flex-wrap py-2">

            <%  task.docs.each do |doc| %>

            <p class="font-medium mr-2 text-md break-all mt-2 underline">
                <%= link_to(doc.filename, rails_blob_path(doc, disposition: "attachment")) %>
            </p>

            <% end %>

    </div>

  

