 <div id="<%= "#{dom_id(task)}_image" %>">
    <%= render "tasks/task_image" , taskImage: task.taskImage %>
 </div>
  <div class="mb-4 ">
    </section>
    <div class="flex items-center mb-6">

    <%# task name %>
        <section id="<%= "#{dom_id(task)}_name" %>">
            <%= render "tasks/task_name" , name: task.name %>
        </section>

    <%#  task participation %>
<% if !@user.isAdmin %>
<div id="<%= "#{dom_id(task)}_participant" %>">
    <%= render "participant_form" , user: @user , task: task , participant: @participant %>
</div>

        <% else %>
        <% if @user.isAdmin %>

    <section data-controller="taskform">
        <button data-action="click->taskform#toggleForm">edit</button>
    </section>


<% end %> 

     <% end %> 
    </div>

    <%# task description  %>
    <%= render "tasks/description" , task: task %>
    

    <%# task reward  %>
    <div class="w-11/12 flex-1 mt-4">
    <div class="mb-4  w-12/12 m-auto">
        <h1 class="text-xl font-bold text-gray-800">Reward's</h1>
        <p class="font-lighter text-md md:text-lg break-all mt-2 bg-zinc-800 rounded-lg text-gray-50 p-4"><%= task.reward %></p>
    </div>

    <%# links and resource %>

    <div class="mb-2">
        <h1 class="text-xl font-bold text-gray-800">Link's and Resource's</h1>
        <div class="flex  flex-wrap py-2 ">
            <% @task.addresses.each do |address| %>
            <a href="<%= address.link %>" class="text-md md:text-lg  mr-2  break-all mt-2 underline"><%= address.title.titleize %></a>
           
            <% end %>
        
     </div>
    </div>

    
     <%#  task docs %>
    <div id="<%= "#{dom_id(task)}_docs" %>" class="mb-4 flex flex-wrap py-2 m-auto">

                <%= render "tasks/doc" , task: task %>

    </div>

  

