<div class="flex flex-col">
<%# header %>
    <div class="">
        <%= render "header" %>
    </div> 
<div class="w-11/12 m-auto">

<%# task %>
       <% if @task %>
    <div style="background-image:url(<%= url_for(@task.taskImage) %>)" class="relative md:h-72 h-48 drop-shadow-lg p-4 flex flex-col justify-between  mt-8 rounded-lg bg-no-repeat bg-center bg-cover bg-white shadow-md shadow-gray-400" >
        <div class= "flex justify-between font-medium items-center">
        <p class="text-xl font-bold "><%= (@task.name).titleize %></p>
        <p class="text-md"><%= (@task.time).titleize %></p>
        </div> 

        <div class="flex">
           <a href="/tasks/<%= @task.id %>">
         <button class="bg-red-400 text-red-50 font-medium px-4 py-2 rounded-md cursor-pointer ">view</button>
         </a>

        <% end %>     
        </div> 
    </div>
   
<%# post  %>
    <div class="min-h-screen sticky-top-0">
    <%= render "posts/posts" , posts: @posts , user: @user %>
    </div>

</div>
</div>