<%= form_with(model: [task,submission], id: "#{dom_id(task)}_submission_form" ) do |form| %>
<div class="flex flex-col justify-center">
    <div class="flex flex-col justify-center mb-4">
    <%= form.label :description , class:"mb-4 font-medium" %>
    <%= form.text_area :description , class:" font-sm" %>
    </div>
    <div class="flex flex-col mb-4">
    <%= form.label :docs , class:"mb-4 font-medium" %>
    <%= form.file_field :docs , multiple: true ,class:"border border-black/40 p-2" %>
    </div>
   
    <div class="flex justify-center flex-col" data-controller="submission">
    <button data-action="click->submission#toggle_submission_form" type="submit" class="bg-gray-800 font-bold text-blue-300 py-1 px-4 hover:bg-gray-700 cursor-pointer rounded-md" >submit</button>
    </div>
</div>
<% end %>




