

    <div class="flex mb-4 flex-wrap">
    
    <h1 class="text-2xl font-bold text-gray-800 mr-4">Submission</h1>
    <section class="flex" data-controller="submission" >
    <% if submission %>
     <a class="" href="/tasks/<%= task.id %>/submissions/<%= submission.id %>/edit">
    <button class="bg-green-300 py-1 px-2 rounded-md drop shadow-md shadow-green-200 cursor-pointer text-green-800 font-medium font text-md">update submission</button>
    </a>
    <% else %>
    <button data-action="click->submission#toggle_submission_form"  class="bg-green-300 py-1 px-2 rounded-md drop shadow-md shadow-green-200 cursor-pointer text-green-800 font-medium font text-md">create submission</button>
    <% end %>
    <div>
         <% if submission %>
    
         <button class="bg-pink-500 ml-3 py-1 px-2 rounded-md drop shadow-md shadow-pink-300 cursor-pointer text-pink-100 font-medium font text-md">

         <% if submission.status %>
            <%= submission.status %>
        <% end %>   

        <% else %>
         </button>
         <% end %>
    </div>
    </section>

    </div>
    <% if submission %>
<%= turbo_frame_tag dom_id(submission) do %>
    
    <div class="mb-4">
    <h3 class="font-bold text-xl text-gray-800 mb-4">Description</h3>
    <section class="text-md md:text-lg"><%= submission.description %></section>
    </div>

    <div class="flex flex-col mb-4">
    <h3 class="font-semibold text-xl">File's</h3>
        <div class="flex mt-4 ">
        <% submission.docs.each do |doc| %>
            <p class="underline text-red-500 mr-4 font-semibold">
                <%= link_to(doc.filename, rails_blob_path(doc, disposition: "attachment")) %>
            </p>
        <%  end  %>
        </div>
    </div>
    <% end %>

    <div class="">
        <h3 class="font-bold text-xl text-gray-800">Comment from Admin </h3>
        <p><%= submission.title %></p>

    </div>

<% end %>