<div class="py-4 px-2 flex justify-between border-b-2 border-gray-200  ">
              
                <section class="flex font-medium">
                   
                    <% like_present = post.likes.find {|like| like.user_id == session[:user_id].to_i }  %>
                    <% if like_present %>
                        <%= link_to "Like" , [post,like_present] , data: { turbo_method: :delete } ,class:"mr-2" %>
                        <p><%= post.likes.count   %> </p>     

                    <% else %>
                         <%= button_to "Like" , post_likes_path(post), method: :post ,class:"mr-2" %>
                        <p><%= post.likes.count %> </p>   
                    <% end %>


                </section>
                
                <a href ="/posts/<%= post.id %>/comments/new">
                  <section class="flex font-medium">
                    <p class="mr-2">Comments</p>
                    <p><%= post.comments.count %></p>
                </section>
                </a>
            </div>