<div class="w-11/12 m-auto pt-10">
    <section class=" w-100 flex justify-center ">
        <img src="https://images.unsplash.com/photo-1497316730643-415fac54a2af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8cHJvZmlsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" , class="w-16 h-16 bg-gray-700 rounded-full" >
    </section>
    <section class="w-100 flex justify-center my-4">
        <h3 class="font-medium text-lg "><%= user.name.titleize %></h3>
    </section>


     <section class="w-100 md:w-10/12 m-auto mb-8">
         <h2 class="mb-4 font-medium text-lg border-b border-purple-400" >About</h2>
         <p class="">"I am ambitious and driven. I thrive on challenge and constantly set goals for myself, so I have something to strive towards. I’m not comfortable with settling, and I’m always looking for an opportunity to do better and achieve greatness. In my previous role, I was promoted three times in less than two years."</p>
    </section>


    <section class="w-100 md:w-10/12 m-auto mb-8">

   
        <h2 class="mr-4 mb-4  font-medium text-lg border-b border-purple-400" >Skills</h2>
         <div>
            <% user.skills.each do |skill| %>
                <p><%= skill.name %></p>
            <% end %>

            <%= render "skills/form" , user: user %>
         </div>  

    </section>

   
    <section class="w-100 md:w-10/12 m-auto">
       <h2 class="font-medium text-lg border-b border-purple-400" >Task's</h2>
       <section class="my-6">
            <% participated_in.each do |participate| %>
            <a href="/tasks/<%= participate.task.id %>" >
                <%= render "profile/participate" , participate: participate %>
            </a>
            <% end %>
       </section>
    </section>
</div>