<!DOCTYPE html>
<html>
  <head>
    <title>Skillup</title>
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://use.fontawesome.com/releases/vVERSION/js/all.js" data-mutate-approach="sync"></script>
  </head>

  <body>
    <main class="min-w-100 bg-gray-50 min-h-screen">

    
      <%= yield %>
    </main>
  </body>
</html>
